<!-- gamepicker.html -->
<!DOCTYPE html>
<html>
<head>
    <title>game picker</title>
</head>
<body>
    <form action="{{url_for('game_chosen',game_chosen = request.form['game_chosen'])}}" method="POST">
         <h2>Please choose a game to play:</h2>
       <ol>
            <li>Memory Game - a sequence of numbers will appear for 0.7 second, and you have to guess it back</li>
            <li>Guess Game - guess a number and see if you chose like the computer</li>
            <li>Currency Roulette - try and guess the value of a random amount of USD in ILS</li>
        </ol>
        <label for="game_chosen">Games (between 1 and 3):</label>
        <input type="number" max="3" min="1" id="game_chosen">
        <input type="submit" value="send">
    </form>
</body>
</html>
